RULES
• Be polite/respectful. There is no racist jokes, sexual remarks, or discrimination. No excessive trolling in public or private channels; avoid personal attacks on others at all costs. Doing so will result in a warning and possibly a kick from the server. Keep slurs and other potentially offensive language to a minimum, excessive use will be dealt with accordingly.
• Keep chat and content of chat SFW. If you want your satisfaction of NSFW, please take any nsfw images or chats to the #nsfw text channel.
